In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 6.2 MB/s eta 0:00:0000:0100:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 37.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# What is MongoDB?Explain non-relational databases in short. In which scenarios it is preferred to use Mongodb over sql databases.
ans = """ 
    MongoDB is a document-oriented NO-SQL database used of high-volume data storage.
    It is different from relational databases since we don't store data in the form of rows or tables.
    Here we make use of collections and documents, where documents stores data in json like format or in key-value pairs.
    Collections on the other hand contains the set of documents.
    
    Non_relational Databases:
    Non-relational databases are different from traditional relational databases, since here idea of storing data is simplified.
    Rather than following strict convention of first forming schema then storing data based on that schema,
     non-relational databases allows us to store data in key-value form or json-like form.
    Instead of forming tables, we here form collections and documents.
    The ability to digest and organize various types of information side by side makes non-relational databases much more flexible than relational databases.
    
    Mongodb is designed for horizontal scalability, making it a good choice for applications with rapidly growing amounts of data,
    in such a case where it is certain that a day will come when company's product will cater to a million data, it is better to use mongoDB.
    
"""

In [ ]:
# State and explain the features of MongoDB.
ans  = """ 
1. Schema-less database:- We don't need to worry about schema formation since we can store data in the from key-value pair.
2. Document-oriented:- All the data are stored in documents instead of tables like RDBMS.
2. Indexing:- Every field here is indexed with both primary and secondary indices which makes easier and efficient searches.
3. Scalability:- It provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers.
4. Replication:- With the help of replication it creates, multiple copies of the data and sends these copies to a different server,
                 so that if one server fails, then the data is retrieved from another server.
5. Aggregation:- It allows to perform operations on the grouped data and get a single result or computed result.
6. High Performance:- The performance of MongoDB is very high and data persistence as compared to another database,
                      due to its features like scalability, indexing, replication etc.
"""

In [24]:
# Write a code to connect to mongoDB to python. Also, create a database and a collection in mongoDB.
import pymongo;
# below is the code to connect to my mongodb cluster.
client = pymongo.MongoClient("mongodb+srv://admin_shafin_for_data_science:r9Dw5gxuKUL4XQe1@cluster0.h7x2x29.mongodb.net/?retryWrites=true&w=majority")
db = client.test
# creating a new_collection.
new_collection = db["my_course_details"];
data = {
    "name_of_course" : "Data Science Masters",
    "Price" : "3200",
    "Mentor_Name": "Sudhanshu Kumar",
    "Student_name": "Shafin",
    "Validity" : "2 years",
};
new_collection.insert_one(data);
# finding or fetching my inserted data:
print("Data inserted in my collection looks like:-");
for i in new_collection.find():
    # print(i.keys());
    rs = list(i.keys())
    for j in rs:
        print(j, " " , i.get(j));

Data inserted in my collection looks like:-
_id   63f12e83b0647a30924fe379
name_of_course   Data Science Masters
Price   3200
Mentor_Name   Sudhanshu Kumar
Student_name   Shafin
Validity   2 years

In [30]:
# Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. User the find() and find_one() methods to print the inserted record.
# below is the code to insert one record.
data = {
    "name_of_course" : "Full Stack Web Development",
    "Price" : "3200",
    "Mentor_Name": "Sudhanshu Kumar",
    "Student_name": "Kirpal",
    "Validity" : "2 years",
};
new_collection.insert_one(data);
# below is the code to display data using find_one() method:
print("below is data is displayed using find_one() method.");
print("******************************");
result =  new_collection.find_one({"Student_name" : "Kirpal"});
print(result);
print("******************************");
    # rs= list(i.keys());
    # for j in rs:
    #     print(j ," " , i.get(j));
data = [{
    "name_of_course" : "Data Science Masters",
    "Price" : "3200",
    "Mentor_Name": "Krish Naik",
    "Student_name": "Nishan",
    "Validity" : "2 years",
} , {
    "name_of_course" : "Full Stack Batch",
    "Price" : "3200",
    "Mentor_Name": "Hitesh Sir",
    "Student_name": "Rahul",
    "Validity" : "2 years",
} , {
    "name_of_course" : "Data Science Masters",
    "Price" : "3200",
    "Mentor_Name": "Alakh Pandey",
    "Student_name": "Saumya",
    "Validity" : "2 years",
} , {
    "name_of_course" : "Data Science Masters",
    "Price" : "3200",
    "Mentor_Name": "Sudhanshu Kumar",
    "Student_name": "NO_NAME",
    "Validity" : "2 years",
} ,
];
new_collection.insert_many(data);
print("Below data is fetched using find() method");
print("******************************");
for i in new_collection.find({"name_of_course" : "Data Science Masters"}):
    rs= list(i.keys());
    for j in rs:
        print(j , " ", i.get(j));
    print();

below is data is displayed using find_one() method.
******************************
{'_id': ObjectId('63f13196b0647a30924fe380'), 'name_of_course': 'Full Stack Web Development', 'Price': '3200', 'Mentor_Name': 'Sudhanshu Kumar', 'Student_name': 'Kirpal', 'Validity': '2 years'}
******************************
Below data is fetched using find() method
******************************
_id   63f13253b0647a30924fe386
name_of_course   Data Science Masters
Price   3200
Mentor_Name   Krish Naik
Student_name   Nishan
Validity   2 years

_id   63f13253b0647a30924fe388
name_of_course   Data Science Masters
Price   3200
Mentor_Name   Alakh Pandey
Student_name   Saumya
Validity   2 years

_id   63f13253b0647a30924fe389
name_of_course   Data Science Masters
Price   3200
Mentor_Name   Sudhanshu Kumar
Student_name   NO_NAME
Validity   2 years

In [32]:
# Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.
ans= """ 
    To select or fetch data from our created collection we make use of find() method.
    It returns all the occurrences of the information stored in the collection.
    It can pass a query object in find() so as to fetch only those records that has this query object.
    
    Example: In previous questions, we created a collection called my_course_details that has data stored in it.
    If I want to fetch all those records that has name_of_course = Data Science Masters, I can write below code to acheive that.
"""
for i in new_collection.find({"name_of_course" : "Data Science Masters"}):
    rs= list(i.keys());
    for j in rs:
        print(j , " ", i.get(j));
    print();

_id   63f13253b0647a30924fe386
name_of_course   Data Science Masters
Price   3200
Mentor_Name   Krish Naik
Student_name   Nishan
Validity   2 years

_id   63f13253b0647a30924fe388
name_of_course   Data Science Masters
Price   3200
Mentor_Name   Alakh Pandey
Student_name   Saumya
Validity   2 years

_id   63f13253b0647a30924fe389
name_of_course   Data Science Masters
Price   3200
Mentor_Name   Sudhanshu Kumar
Student_name   NO_NAME
Validity   2 years

In [41]:
# Explain the sort() method. Give an example to demonstrate sorting in MongoDB?
ans = """ 
    The sort() method specifies the order in which the query returns the matching documents from the given collection.
    It takes a document as a parameter that contains key:value pair that defines the sort order of the result set.
    The value is 1 or -1 specify an ascending or descending sort respectively.
    For Example I want to display records sorted by Mentor_Name in ascending order,
    to acheive we can write below code:
"""
for i in new_collection.find().sort("Mentor_Name" , 1):
    rs= list(i.keys());
    for j in rs:
        if(j == "_id"):
            continue;
        print(j , " ", i.get(j));
    print();

name_of_course   Data Science Masters
Price   3200
Mentor_Name   Alakh Pandey
Student_name   Saumya
Validity   2 years

name_of_course   Full Stack Batch
Price   3200
Mentor_Name   Hitesh Sir
Student_name   Rahul
Validity   2 years

name_of_course   Data Science Masters
Price   3200
Mentor_Name   Krish Naik
Student_name   Nishan
Validity   2 years

name_of_course   Full Stack Web Development
Price   3200
Mentor_Name   Sudhanshu Kumar
Student_name   Kirpal
Validity   2 years

name_of_course   Full Stack Web Development
Price   3200
Mentor_Name   Sudhanshu Kumar
Student_name   Kirpal
Validity   2 years

name_of_course   Data Science Masters
Price   3200
Mentor_Name   Sudhanshu Kumar
Student_name   NO_NAME
Validity   2 years

In [ ]:
# Explain why delete_one(), delete_many() and drop() is used.
ans = """ 
delete_many(): is used when one needs to delete more than one document.
Syntax for delete_many():-
    new_collection.delete_many(<filter condition>);
    
delete_one(): is used to delete a single document from your created collection.
Syntax for delete_one():=
    new_collection.delete_one(<filter>);

drop(): You can delete a table, or collection as it is called in MongoDB, by using the drop() method.
Syntax for drop():
    new_collection.drop();
"""