Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some
algorithms that are not affected by missing values.

In [ ]:
Answer = """ 
Missing data, or missing values, occur when you don’t have data stored for certain variables or participants.
Data can go missing due to incomplete data entry, equipment malfunctions, lost files, and many other reasons.
In any dataset, there are usually some missing data. In quantitative research, missing values appear as blank cells in your spreadsheet.

Why is it Essential to handle missing values:-
Training a model with a data set that has a lot of missing values can drastically impact the quality of machine learning model.
Particularly missing values impact deterministic models.
The fact is, majority of models that are most commonly in use today for practical applications are deterministic.
Hence it becomes necessary to deal with missing data before applying the machine learning model.

Algorithms that are not affected by missing values?
K-Neared Neighbour Algorithm.
Naive Bayes Algorithm.
XGBoost Algorithm.
"""

Q2: List down techniques used to handle missing data. Give an example of each with python code.

In [2]:
Answer = """  
1. Delete the Data.
The easiest method is to just simply delete the whole training examples where one or several columns have null entries.
Example:
Let us import titanic dataset, and handle missing values over there.
"""
# Code handling missing data by deleting missing values.
import pandas as pd;
import numpy as np;
import seaborn as sns;
url = "https://raw.github.com/mattdelhey/kaggle-titanic/master/Data/train.csv";
titanic = pd.read_csv(url);
titanic.info();
# count of null values before deletion.
print("*********** Before handling missing data *********");
titanic.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   name      891 non-null    object
 3   sex       891 non-null    object
 4   age       714 non-null    float64
 5   sibsp     891 non-null    int64
 6   parch     891 non-null    int64
 7   ticket    891 non-null    object
 8   fare      891 non-null    float64
 9   cabin     204 non-null    object
 10  embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB
*********** Before handling missing data *********

survived      0
pclass        0
name          0
sex           0
age         177
sibsp         0
parch         0
ticket        0
fare          0
cabin       687
embarked      2
dtype: int64

In [4]:
print("************* After handling missing data by removing nan values **************");
titanic = titanic.dropna();
titanic.isnull().sum()

************* After handling missing data by removing nan values **************

survived    0
pclass      0
name        0
sex         0
age         0
sibsp       0
parch       0
ticket      0
fare        0
cabin       0
embarked    0
dtype: int64

In [8]:
Answer = """
2. Imputing Averages.
The next method is to assign some average value (mean, median or mode) to the null entries.
"""
# Example
print("************ data before imputing averages ************");
# titanic[100 : 110]
titanic = pd.read_csv(url);
titanic[100 : 110]

************ data before imputing averages ************

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
100,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S
101,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
102,0,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S
103,0,3,"Johansson, Mr. Gustaf Joel",male,33.0,0,0,7540,8.6542,NaN,S
104,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.0,2,0,3101276,7.9250,NaN,S
105,0,3,"Mionoff, Mr. Stoytcho",male,28.0,0,0,349207,7.8958,NaN,S
106,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.6500,NaN,S
107,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
108,0,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.8958,NaN,S
109,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q

In [22]:
print("************** After imputing average values ********");
replace = titanic.mean();
# replace
titanic = titanic.fillna(replace ,inplace = False);
titanic[100 : 110]
note = """ 
If you will carefully observe, the difference between two dataframes, you will notice that in latter case, nan are being replaced by the respective mean values.
"""

************** After imputing average values ********

/tmp/ipykernel_91/424377309.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  replace = titanic.mean();

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
456,0,1,"Millet, Mr. Francis Davis",male,65.000000,0,0,13509,26.5500,E38,S
457,1,1,"Kenyon, Mrs. Frederick R (Marion)",female,29.699118,1,0,17464,51.8625,D21,S
460,1,1,"Anderson, Mr. Harry",male,48.000000,0,0,19952,26.5500,E12,S
462,0,1,"Gee, Mr. Arthur H",male,47.000000,0,0,111320,38.5000,E63,S
473,1,2,"Jerwan, Mrs. Amin S (Marie Marthe Thuillard)",female,23.000000,0,0,SC/AH Basle 541,13.7917,D,C
475,0,1,"Clifford, Mr. George Quincy",male,29.699118,0,0,110465,52.0000,A14,S
484,1,1,"Bishop, Mr. Dickinson H",male,25.000000,1,0,11967,91.0792,B49,C
486,1,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",female,35.000000,1,0,19943,90.0000,C93,S
487,0,1,"Kent, Mr. Edward Austin",male,58.000000,0,0,11771,29.7000,B37,C
492,0,1,"Molson, Mr. Harry Markland",male,55.000000,0,0,113787,30.5000,C30,S

In [27]:
Answer = """ 
3. Assign New Category:
In regards to the 'Cabin' feature, it only has 91 entries, which is about 25% of the total examples.
Therefore, the mode value that we previously calculated is not very reliable. A better way is to assign these Nan Values their own category.
"""
titanic =pd.read_csv(url);
titanic['cabin'] = titanic['cabin'].fillna('Unknown')
print("*************** Nan values replaced by unknown ***************");
titanic

*************** Nan values replaced by unknown ***************

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,Unknown,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,Unknown,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,Unknown,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,Unknown,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,Unknown,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Unknown,Q

In [ ]:
Answer = """ 
4. Certain Algorithms:
The final technique is to do nothing. The majority of machine learning algorithms do not work with missing data.
On the other hand, algorithms as k-Nearest Neighbor, Naive Bayes, and XGBoost all work with missing data.
"""

Q3: Explain the imbalanced data. What will happen if imbalanced data is not handled?

In [ ]:
Answer = """
Imbalanced data refers to those types of datasets where the target class has an uneven distribution of observations,
i.e one class label has a very high number of observations and the other has a very low number of observations. 

Assume we have a model having 1000 datapoints, on testing we find out that it is yielding results with 90% accuracy. For the sake of simplicity,
let us assume we have either yes or no as our result.
If a model is resulting yes 90% of time, it makes our model doubtful or kind of a dumb model if we have majority data points let's say 900 datapoints yeilding yes and 100 datapoints yeilding no.
Such a model is said to have imbalanced data.
If it is not handled, we are going to create a biased model, in this case a model that is going to say yes all the time.

We generally follow two methods to handle imbalanced data.
1. Upsampling.
2. Downsampling.

Explanation for the above two methods will be given in upcoming excercise problems.
"""

Q4: What are Up-sampling and Down-sampling? Explain with an example when up-sampling and down-
sampling are required.

In [ ]:
Answer = """
Upsampling is a procedure where synthetically generated data points (corresponding to the minority class) are injected into the dataset.
After this process, the counts of both labels are almost the same.
This equalization procedure prevents the model from inclining towards the majority class.
Furthermore, the interaction (Boundary line) between the target classes remains unaltered.

Downsampling is a mechanism that reduces the count of training samples falling under the majority class.
As it helps to even up the counts of target categories.
By removing the collected data, we tend to lose so much valuable information.

Example:-
Take the model we discussed previously, where in we had 1000 datapoints with 900 datapoints corresponding to Yes, and remaining corresponding to No.
To make this even, we can either add 900 datapoints yielding No into our dataset, that will make the count of datapoints equal to 2000.
(upsampling mechanism).
Or we can reduce the datapoints associated to a yes to a count of 100, making total datapoints as 200(downsampling).

"""

Q5: What is data Augmentation? Explain SMOTE.

In [ ]:
Answer = """ 
Data augmentation is a set of techniques to artificially increase the amount of data by generating new data points
from existing data.
This includes making small changes to data or using deep learning models to generate new data points.

SMOTE:-
(Synthetic Minority Oversampling Technique):
SMOTE is an oversampling technique where the synthetic samples are generated for the minority class.
This algorithm helps to overcome the overfitting problem posed by random oversampling.
It focuses on the feature space to generate new instances with the help of interpolation between positive instances that lie together.
"""

Q6: What are outliers in a dataset? Why is it essential to handle outliers?

In [ ]:
Answer = """ 
Anomalies of Outliers are those data points that lie at a great distance from the rest of the data like a sudden increase or decrease,
by many folds or in the simple world an outlier is a value that lies outside the range of all other values in the dataset.
For example, while measuring the body temperature of patients in a hospital there was an entry of 988 degrees Celsius which is clearly incorrect.
There might be a missing decimal point like it should have been 98.8 instead of 988.

Why is it essential to handle outliers:-
If the outliers are not treated in the first step while doing the exploratory data analysis, it can lead to biases in the results.
There are many unfavorable impacts created by a bias which could lead to poor business decisions and ultimately a loss to the business.

"""

Q7: You are working on a project that requires analyzing customer data. However, you notice that some of
the data is missing. What are some techniques you can use to handle the missing data in your analysis?

In [ ]:
Answer = """ 
Techniques:-
1. Imputing Averages:- Since we need to analyze customer data, deleting the data is not an option, so we can replace missing values with
the mean value of that particular feature.
2. Imputing Median, Mode
3. Use certain algorithms like KNN, XGBoost.
4. Delete the value if dealing with Missing at Random and Missing completely at Random data.

"""

Q8: You are working with a large dataset and find that a small percentage of the data is missing. What are
some strategies you can use to determine if the missing data is missing at random or if there is a pattern
to the missing data?

In [ ]:
Answer = """
Missing at random data means that the reason for missing values can be explained by variables on which you have complete information,
as there is some relationship between the missing data and other values/data. In such cases data is not missing for all ther observations.
It is missing only within sub-samples of the data, and there is some pattern in the missing values.

1. For such a case, it is relatively safer to delete data when compared to missing not at random data.
We can perform deletion of rows or columns or pairwise deletion to get rid of missing value.
1.1 Listwise deletion:-
Listwise deletion (complete-case analysis) removes all data for an observation that has one or more missing values.
Particularly if the missing data is limited to a small number of observations, you may just opt to eliminate those cases from the analysis.
However in most cases, it is often disadvantageous to use listwise deletion.
This is because the assumptions of MCAR (Missing Completely at Random) are typically rare to support.
As a result, listwise deletion methods produce biased parameters and estimates.

1.2 Pairwise Deletion:-
pairwise deletion analyses all cases in which the variables of interest are present and thus maximizes all data available by an analysis basis.
A strength to this technique is that it increases power in your analysis but it has many disadvantages. It assumes that the missing data are MCAR.
If you delete pairwise then you’ll end up with different numbers of observations contributing to different parts of your model,
which can make interpretation difficult.

1.3 Dropping Variables:-
In my opinion, it is always better to keep data than to discard it.
Sometimes you can drop variables if the data is missing for more than 60% observations but only if that variable is insignificant.
Having said that, imputation is always a preferred choice over dropping variables

2. Imputing Mean, Median or Mode:-
Computing the overall mean, median or mode is a very basic imputation method,
it is the only tested function that takes no advantage of the time series characteristics or relationship between the variables.
It is very fast, but has clear disadvantages. One disadvantage is that mean imputation reduces variance in the dataset.

3. Use algorithms like KNN or XGBoost that works fine with missing values as well.
"""

Q9: Suppose you are working on a medical diagnosis project and find that the majority of patients in the
dataset do not have the condition of interest, while a small percentage do. What are some strategies you
can use to evaluate the performance of your machine learning model on this imbalanced dataset?

In [ ]:
Answer = """
Approaches that we can follow:-
1. Choose Proper Evaluation Metric:-
The accuracy of a classifier is the total number of correct predictions by the classifier divided by the total number of predictions. This may be good enough for a well-balanced class but not ideal for the imbalanced class problem. The other metrics such as precision is the measure of how accurate the classifier’s prediction of a specific class and recall is the measure of the classifier’s ability to identify a class.

For an imbalanced class dataset F1 score is a more appropriate metric. It is the harmonic mean of precision and recall
So, if the classifier predicts the minority class but the prediction is erroneous and false-positive increases,
the precision metric will be low and so as F1 score. Also, if the classifier identifies the minority class poorly,
i.e. more of this class wrongfully predicted as the majority class then false negatives will increase, so recall and F1 score will low.
F1 score only increases if both the number and quality of prediction improves.
2. Resampling:-
We can make use of upsampling and downsampling techniques.

3. SMOTE:- Synthetic Minority Oversampling Technique or SMOTE is another technique to oversample the minority class.
In Smote new instances are synthesized from the existing data.

"""

Q10: When attempting to estimate customer satisfaction for a project, you discover that the dataset is
unbalanced, with the bulk of customers reporting being satisfied. What methods can you employ to
balance the dataset and down-sample the majority class?

In [ ]:
Answer = """ 
1. Random undersampling: This method involves randomly selecting a subset of observations from the majority class to match the size of the minority class.
This can be done using techniques such as RandomUnderSampler from the imblearn library in Python.

2. Tomek links: This method involves identifying pairs of observations that are nearest neighbors and belong to different classes.
The observation from the majority class is then removed to balance the dataset.
This can be done using techniques such as Tomek Links from the imblearn library in Python.

3. Synthetic minority oversampling technique (SMOTE): This method involves generating synthetic observations for the minority class,
to match the size of the majority class. SMOTE can be used in combination with random undersampling to balance the dataset.
This can be done using techniques such as SMOTE Tomek from the imblearn library in Python.
"""

Q11: You discover that the dataset is unbalanced with a low percentage of occurrences while working on a
project that requires you to estimate the occurrence of a rare event. What methods can you employ to
balance the dataset and up-sample the minority class?

In [ ]:
Answer = """ 
1. Random oversampling: This method involves randomly duplicating observations from the minority class to match the size of the majority class.
This can be done using techniques such as RandomOverSampler from the imblearn library in Python.

2. Synthetic minority oversampling technique (SMOTE): This method involves generating synthetic observations for the minority class,
to match the size of the majority class. SMOTE can be used in combination with random oversampling to balance the dataset.
This can be done using techniques such as SMOTE from the imblearn library in Python.

3. Adaptive synthetic sampling (ADASYN): This method is similar to SMOTE but focuses on generating more synthetic observations for the minority class,
samples that are harder to learn. This can be done using techniques such as ADASYN from the imblearn library in Python.
""