In [3]:
# Create a panda series that contains the following data:- 4,8,15,16,23,42
import pandas as pd;
lst = [4,8,15,16,23,42];
data = pd.Series(lst);
print(data);

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [10]:
# Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
import random;
lst = list();
for i in range(0,10):
    lst.append(random.randint(0,50));
data = pd.Series(lst);
print(data);

0    20
1     4
2    34
3    10
4    41
5    24
6    11
7    19
8    16
9    48
dtype: int64

In [13]:
# Create a pandas Dataframe that contains the following data.
data_to_add = {'Name' : ['Alice' , 'Bob' , 'Claire'] ,
               'Age' : [25 , 30 , 27] , 
              'Gender' : ['Female' , 'Male' , 'Female']};

df = pd.DataFrame(data_to_add).to_string(index=False);
# blankIndex=[''] * len(df)
# df.index=blankIndex
print(df);

  Name  Age Gender
 Alice   25 Female
   Bob   30   Male
Claire   27 Female

In [23]:
# What is dataframe in pandas and how is it different from pandas.series? Explain with example.
ans=""" 
Pandas Dataframe is two-dimensional size-mutable,
potentially heterogenous tabular data structure with labeled axes (rows and coloumns).
A data frame is a two-dimensional data structure.
i.e Data is aligned in a tabular fashion in rows and coloumns.Pandas DataFrame consists of three principal components, the data, the row and columns.

Series allows us to formulate one-dimensional data structure for storing the data.
It restricts us to store homogenous data only.
Once size is allocated to the series, it is immutable for us to resize the series created.
On the other hand,
DataFrame allows us to formulate two-dimensional data structure for storing the data.
It allows us to store heterogenous data in tabular fashion.
It is mutable, which means elements can be easily added or dropped in an existing dataframe.

"""
# Example to show difference between series and dataframe

lst = {'Name' : ['shafin', 'Kirpal'] , 'Age' : [20 , 20] , 'CllG' : ['VITB' , 'UIET']}
data = pd.DataFrame(lst);
print("Data using Dataframes");
print(data);
data = pd.Series(lst);
print("Data using Series")
print(data);
ans = """ 
As we can see, series is considering shafin and kirpal as a single entity or a list, leading to 
a bad visualization of data, but using dataframe we can have a good visualisation of data.
"""

Data using Dataframes
     Name  Age  CllG
0  shafin   20  VITB
1  Kirpal   20  UIET
Data using Series
Name    [shafin, Kirpal]
Age             [20, 20]
CllG        [VITB, UIET]
dtype: object

In [29]:
# What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use on of these functions.
ans = """  
We can retrieve particular rows and coloumns by using dataframe functions.
df['coloumn_name'] := will fetch me whole coloumn as a series object.
df.[loc[i]]:- By using loc attribute we can return one or more specified rows.
df.[loc[i , j]]: Returns ith row and jth row.

we can add index based on our wish, using index keyword or parameter in DataFrame:-
pd.DataFrame(data , index = ['i1' , 'i2' , 'i3']);
We can load csv files into a DataFrame using read_csv
df = pd.read_csv("data.csv");
We can use to_string() method to print entire DataFrame.
We can use head() method to return headers and a specified number of rows, starting from the top.
we can use tail() method to return the headers and a specified number of rows, starting from the bottom.

When will I use DataFrame Functions?
Common functions that I have used till now are
index=False, to_string(), .head(), .tail() and .read_csv('file name').
Situation where I used above mentioned function,
I had a task to print dictionary in tabular format,
using dataframe I was able to do that, but indexing was bugging me up,
to remove that I made use of to_string(index=False), where to_string() helps in printing the dataframe and index=False hides indexing.
"""
# Example>
lst = {'Name' : ['Shafin' , 'Kirpal'] , 'Age' : [20,20] , 'CllG': ['VITB' , 'UIETPU']};
data = pd.DataFrame(lst);
print(data.to_string(index=False));

  Name  Age   CllG
Shafin   20   VITB
Kirpal   20 UIETPU

In [30]:
# Which of the following is mutable in nature Series, DataFrame, Panel?
ans = """ 
All Pandas data structure are value-mutable in nature, except Series all are size mutables.
Series:- Value mutable, Size Immutable(Size can't be changed once allocated)
DataFrames:- Value mutable, Size mutable(both value and size can be changed)
Panel:- value mutable, size mutable(both value and size can be changed)
"""

In [42]:
# Create a DataFrame using Multiple Series. Explain with an example?
course = pd.Series(['Data-Science' , 'Full Stack Web' , 'Stock Market Fundamentals' , 'Java Dsa'], name = 'Courses');
print("List One goes below **************")
print(course);
mentors = pd.Series([['sudhanshu' , 'krish'], 'Hitesh' , 'CA teacher' , 'Naveen Reddy'], name = 'Mentors');
print("List two goes below **************")
print(mentors);
df = pd.concat([course, mentors], axis = 1).to_string(index=False);
print("combined series as a dataframe goes below**********");
print();
print(df)

List One goes below **************
0                 Data-Science
1               Full Stack Web
2    Stock Market Fundamentals
3                     Java Dsa
Name: Courses, dtype: object
List two goes below **************
0    [sudhanshu, krish]
1                Hitesh
2            CA teacher
3          Naveen Reddy
Name: Mentors, dtype: object
combined series as a dataframe goes below**********

                  Courses            Mentors
             Data-Science [sudhanshu, krish]
           Full Stack Web             Hitesh
Stock Market Fundamentals         CA teacher
                 Java Dsa       Naveen Reddy