In [8]:
import pandas as pd;
# List any five functions of the pandas library with execution.
ans = """ 
1. read_csv():- This is one of the most crucial pandas methods in python.
read_csv() function helps read a comma-separated values (csv) file into a Pandas DataFrame.
All you need to do is mention of the path of the file you want it to read.
Syntax of read_csv()
pandas.read_csv(filepath_or_buffer);

2. head(n):- This is used to return the first n rows of a dataset.
By default, df.head() will return the first 5 rows of the DataFrame.
If you want more or less number of rows. You can specify n as an integer.
Syntax:-
data.head();

3. Describe():- Describe is used to generate descriptive statistics of the data in a Pandas DataFrame or series.
It summarizes central tendency and dispersion of the dataset.
More details about describe() can be found.
Syntax:-
data.describe();

4. Memory_usage():- Memory_usage() returns a Pandas Series having the memory usage of each column (in bytes),
in a Pandas DataFrame.
By specifying the deep attribute as True, we can get to know the actual space being taken by each column.
Syntax:-
data.memory_usage();

5. Loc[:]:- Loc[:] helps to access group of rows and columns in a dataset, a slice of the dataset, as per our requirement.
For instance, if we only want the last 2 rows and the first 3 columns of a dataset, we can access them with the help of loc[:].
We can also access rows and columns based on labels instead of row and column number.
Syntax:-
data.loc[0:4,['Name' , 'Age' , 'State']];

Demonstration goes below.
"""
print("Demonstration for read_csv() method");
data = pd.read_csv("random-data.csv");
print(data);
print("************************************");
print("Demonstration of head()");
data_2 =data.head(2);
print(data_2);
print("************************************");
print("Demonstration of describe()");
data_3 = data.describe();
print(data_3);
print("************************************");
print("Demonstration of memory_usage()");
data_4 = data.memory_usage();
print(data_4);
print("***********************************");
print("Demonstration of Loc()");
data_5 = data.loc[0:1];
print(data_5);

Demonstration for read_csv() method
     Name     Cllg   Age
0  Shafin   UIETPU    20
1  Kirpal     VITB    20
2  Nishan   UIETPU    20
************************************
Demonstration of head()
     Name     Cllg   Age
0  Shafin   UIETPU    20
1  Kirpal     VITB    20
************************************
Demonstration of describe()
        Age
count   3.0
mean   20.0
std     0.0
min    20.0
25%    20.0
50%    20.0
75%    20.0
max    20.0
************************************
Demonstration of memory_usage()
Index    128
Name      24
 Cllg     24
 Age      24
dtype: int64
***********************************
Demonstration of Loc()
     Name     Cllg   Age
0  Shafin   UIETPU    20
1  Kirpal     VITB    20

In [39]:
# Given a Pandas DataFrame df with coloumns 'A', 'B', 'C' write a python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.
import pandas as pd;
data = pd.read_csv("./csvFiles/random-data-two.csv");
df = pd.DataFrame(data);
print("********** before new indexing ********")
print(df);
print("********* After new Indexing **********");
df['new-index'] = list(range(1,14 , 2));
df.set_index('new-index')

********** before new indexing ********
    A   B   C
0   1   2   3
1   4   5   6
2   1   2   3
3   4   5   6
4   6   7   8
5   7   8   9
6  10  11  12
********* After new Indexing **********

            A   B   C
new-index
1           1   2   3
3           4   5   6
5           1   2   3
7           4   5   6
9           6   7   8
11          7   8   9
13         10  11  12

In [44]:
# You have a pandas dataframe df with a column named 'values'. Write a python function that iterates over the Dataframe and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.
new_data = {'Values' : [10,20,30,40,50,60,70,80,90]};
df = pd.DataFrame(new_data);
print("********* Data Goes Below ***********");
print(df);
sum = 0;
for i, j in df.iterrows():
    sum = sum + j['Values'];
    if i == 2:
        break;
print("*******Required Sum***************");
print("Required Sum: " , sum);

********* Data Goes Below ***********
   Values
0      10
1      20
2      30
3      40
4      50
5      60
6      70
7      80
8      90
*******Required Sum***************
Required Sum:  60

In [51]:
# given a pandas DataFrame df with a column 'Text', write a python function to create a new coloumn 'word_count' that contains the number of words in each row of the 'Text' column
new_data = {'Text' : ['shafin' , 'shafin' , 'kirpal' , 'Nishan' , 'kirpal' , 'pranav' , 'kirpal' , 'pankaj' , 'pankaj']};
df = pd.DataFrame(new_data);
ls = list();
dc = dict();
print("************** Initial Data *******************");
print(df);
df['word-count'] = "";
for i, j in df.iterrows():
    if j['Text'] in dc:
        temp = dc[j['Text']];
        dc[j['Text']] = temp + 1;
    else:
        dc[j['Text']] = 1;
# print(dc);
for i, j in df.iterrows():
    j['word-count'] = dc[j['Text']];
print("*************** Required Result *************");
print(df);

************** Initial Data *******************
     Text
0  shafin
1  shafin
2  kirpal
3  Nishan
4  kirpal
5  pranav
6  kirpal
7  pankaj
8  pankaj
*************** Required Result *************
     Text word-count
0  shafin          2
1  shafin          2
2  kirpal          3
3  Nishan          1
4  kirpal          3
5  pranav          1
6  kirpal          3
7  pankaj          2
8  pankaj          2

In [5]:
# How are DataFrame.size() and DataFrame.shape() different?
ans = """ 
DataFrame.size() :- Returns size of dataframe/series which is equivalent to total number of elements. That is rows x columns.
DataFrame.shape():- Returns tuple of shape(Rows, Columns) of dataframe/seris.
"""

In [6]:
# which function of pandas do we use to read an excel file?
ans = """ we make use of read_csv() function. """

In [58]:
# You have a Pandas DataFrame df that contains a column named 'Email' that contains Email addresses in the format 'username@domain.com'. Write a python function that creates a new column 'Username' in df that contains only the username part of each email address.
import random;
import string;
email_ids = list();
for i in range(0,12):
    kprime = random.randint(3,9);
    email_id = ''.join(random.choices(string.ascii_lowercase, k=kprime));
    email_id = email_id + "@domain.com";
    email_ids.append(email_id);
new_data = {'Email-Id' : email_ids};
df = pd.DataFrame(new_data);
print("*************** Original Data Goes below *******");
print(df);
df['username']  = "";
for i, j in df.iterrows():
    idx = j['Email-Id'].find('@');
    sub = j['Email-Id'][0:idx];
    j['username'] = sub;
print("*************** Updated Data Goes below ********");
print(df);

*************** Original Data Goes below *******
                Email-Id
0        uxlq@domain.com
1   qtonuvtuv@domain.com
2    gscbyjwv@domain.com
3      ocmnpw@domain.com
4         csi@domain.com
5   hwjgmepgu@domain.com
6         okq@domain.com
7       hodiz@domain.com
8   vidbctszm@domain.com
9       jebij@domain.com
10      aafnd@domain.com
11       bexz@domain.com
*************** Updated Data Goes below ********
                Email-Id   username
0        uxlq@domain.com       uxlq
1   qtonuvtuv@domain.com  qtonuvtuv
2    gscbyjwv@domain.com   gscbyjwv
3      ocmnpw@domain.com     ocmnpw
4         csi@domain.com        csi
5   hwjgmepgu@domain.com  hwjgmepgu
6         okq@domain.com        okq
7       hodiz@domain.com      hodiz
8   vidbctszm@domain.com  vidbctszm
9       jebij@domain.com      jebij
10      aafnd@domain.com      aafnd
11       bexz@domain.com       bexz

In [71]:
# You have a Pandas dataframe df with coloumns A, B and C. Write a python function that selects all rows where the value in column A is greater than 5 and the value in column B is less than 10.
new_data = {'A': [1,2,3,4,5,6,7,8,9,10], 
            'B': [6,7,8,9,10,1,2,3,4,5],
            'C': [11,12,13,14,15,16,16,1,1,2],
           }
df1 = pd.DataFrame(new_data);
# df2 = pd.DataFrame({'A':[], 'B':[] , 'C':[]});
print("**************** Original Data ***********************");
print(df1);
A_ls = list();
B_ls = list();
C_ls = list();
for i, j in df1.iterrows():
    if(j['A'] > 5 and j['B'] < 5):
        # df2.append(df.loc[i]);
        A_ls.append(j['A']);
        B_ls.append(j['B']);
        C_ls.append(j['C']);
df2 = pd.DataFrame({'A' : A_ls , 'B': B_ls , 'C' : C_ls});
print("***************** Required Data **********************");
print(df2);

**************** Original Data ***********************
    A   B   C
0   1   6  11
1   2   7  12
2   3   8  13
3   4   9  14
4   5  10  15
5   6   1  16
6   7   2  16
7   8   3   1
8   9   4   1
9  10   5   2
***************** Required Data **********************
   A  B   C
0  6  1  16
1  7  2  16
2  8  3   1
3  9  4   1

In [74]:
# given a pandas DataFrame df with a coloumn values and write a python function to calculate the mean, median and standard deviation of the values in Values column.
new_data = {'Values' : [10,20,30,40,50,60,70,80,90]};
df = pd.DataFrame(new_data);
print("Mean:- " , df.mean());
print("Median:-" , df.median());
print("Standard Deviation:- " , df.std());

Mean:-  Values    50.0
dtype: float64
Median:- Values    50.0
dtype: float64
Standard Deviation:-  Values    27.386128
dtype: float64

In [7]:
# Givena pandas DataFrame df with a column 'Date', write a python function to create a new coloumn 'Moving Average' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.
import pandas as pd;
data = pd.read_csv('./csvFiles/sales-date.csv');
df = pd.DataFrame(data);
print(data);
df['rolling average'] = df['sales'].rolling(7).mean();
print(df)

    sales        date
0       0  2023-01-01
1       1  2023-01-02
2       2  2023-01-03
3       3  2023-01-04
4       4  2023-01-05
5       5  2023-01-06
6       6  2023-01-07
7       7  2023-01-08
8       8  2023-01-09
9       9  2023-01-10
10     10  2023-01-11
11     11  2023-01-12
12     12  2023-01-13
    sales        date  rolling average
0       0  2023-01-01              NaN
1       1  2023-01-02              NaN
2       2  2023-01-03              NaN
3       3  2023-01-04              NaN
4       4  2023-01-05              NaN
5       5  2023-01-06              NaN
6       6  2023-01-07              3.0
7       7  2023-01-08              4.0
8       8  2023-01-09              5.0
9       9  2023-01-10              6.0
10     10  2023-01-11              7.0
11     11  2023-01-12              8.0
12     12  2023-01-13              9.0

In [26]:
# You have a pandas DataFrame df with a column 'Date'. Write a pythoh function that creates a new column 'Weekday' in the Dataframe. The 'Weekday' column should contain the weekday name corresponding to each date in the 'Date' column.
import datetime;
def findDate(year, month, date):
    idx =int(month);
    months = ['January' , 'Feburary' , 'March' , 'APril' , 'May' , 'June' , 'July' , 'August' , 'September', 'October' , 'November' , 'December'];
    dt =int(date);
    res = months[idx-1] + " " + str(dt) + ", " + year;
    return res;

df2 = pd.DataFrame();
df2['Date'] = df['date'];
# print(df2);
print("***************** Original Data ****************");
print(df2);
df2['Day'] = '';
for i, j in df2.iterrows():
    res = j['Date'].split('-');
    year = res[0];
    month= res[1];
    date = res[2];
    dt = findDate(year, month, date);
    j['Day'] = datetime.datetime.strptime(dt , '%B %d, %Y').strftime('%A');
print("**************** Updated Data *****************");
print(df2);

***************** Original Data ****************
          Date
0   2023-01-01
1   2023-01-02
2   2023-01-03
3   2023-01-04
4   2023-01-05
5   2023-01-06
6   2023-01-07
7   2023-01-08
8   2023-01-09
9   2023-01-10
10  2023-01-11
11  2023-01-12
12  2023-01-13
**************** Updated Data *****************
          Date        Day
0   2023-01-01     Sunday
1   2023-01-02     Monday
2   2023-01-03    Tuesday
3   2023-01-04  Wednesday
4   2023-01-05   Thursday
5   2023-01-06     Friday
6   2023-01-07   Saturday
7   2023-01-08     Sunday
8   2023-01-09     Monday
9   2023-01-10    Tuesday
10  2023-01-11  Wednesday
11  2023-01-12   Thursday
12  2023-01-13     Friday

In [29]:
# Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a python function to select all rows where the date is between 2023-01-01 and 2023-01-31;
def compare(ls):
    dt = int(ls[2]);
    mnt = int(ls[1]);
    if(mnt == 1 and (dt>=1 and dt<= 31)):
        return True;
    return False;


res = pd.DataFrame();
Date_ls = list();
Day_ls = list();
for i, j in df2.iterrows():
    if(compare(j['Date'].split("-")) == True):
       Date_ls.append(j['Date']);
       Day_ls.append(j['Day']);
ans= pd.DataFrame({'Date' : Date_ls , 'Day': Day_ls});
print("*********** Required Result ****************");
print(ans);

*********** Required Result ****************
          Date        Day
0   2023-01-01     Sunday
1   2023-01-02     Monday
2   2023-01-03    Tuesday
3   2023-01-04  Wednesday
4   2023-01-05   Thursday
5   2023-01-06     Friday
6   2023-01-07   Saturday
7   2023-01-08     Sunday
8   2023-01-09     Monday
9   2023-01-10    Tuesday
10  2023-01-11  Wednesday
11  2023-01-12   Thursday
12  2023-01-13     Friday

In [2]:
# To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?
ans = """ 
To use the basic functiosn of pandas, the first and foremost necessary library that needs to be imported is pandas library.
it goes like import pandas as pd;
"""