In [2]:
# Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
# QUestion 1 Write a code to print the data present in the second row of the dataframe, df.
for i, j in df.iterrows():
    if(i == 1):
        print("********* Date present in second row ****");
        print(j);
        break;

********* Date present in second row ****
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [5]:
# Question 2 What is the difference between the functions loc and iloc in pandas.Dataframe?
ans = """ 
The main difference between the two methods is:-
loc:- gets rows (and/or columns) with particular labels.
iloc:- gets rows(and/or columns) at integer locations.
"""

In [9]:
# Question 3 Reindex the given dataframe using a variable reindex = [3,01,2] and store it in the variable, new_diff then find the output for both new_df.loc[2] and new_df.iloc[2];
reindex = [3,0,1,2];
new_df = df.reindex(reindex);
print("******** updated Date *******");
print(new_df);
print("******** output for new_df.loc[2]");
print(new_df.loc[2]);
print("******* output for new_df.iloc[2]");
print(new_df.iloc[2]);

ans = """ Yes there is a difference in the outputs, since the index of new_df is now [3,0,1,2], new_df.loc[] will print the row at the label 2 in the index.
Similarly, new_df.iloc[2] returns the row that has the integer position 2 in the index."""

******** updated Date *******
        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
******** output for new_df.loc[2]
course_name    Big Data
duration              6
Name: 2, dtype: object
******* output for new_df.iloc[2]
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [11]:
# Consider the below code to answer further questions.
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
print(df1)

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.494939  0.895527  0.001509  0.755818  0.462643  0.341777
2  0.426606  0.650054  0.425418  0.663069  0.915990  0.241651
3  0.178090  0.945772  0.832288  0.939126  0.820923  0.576962
4  0.576781  0.199474  0.081989  0.194964  0.242000  0.124616
5  0.624695  0.104026  0.996429  0.662424  0.567148  0.380538
6  0.486676  0.499400  0.248753  0.396738  0.244729  0.172366

In [23]:
#Question 4 Write a code to find the following statistical measurements for the above dataframe df1 i) mean of each and every column present in the dataframe. ii) Standard Deviation of column, 'column_2'>
mean_list = list();
std_list= list();
# print(df1.columns);
for j in list(df1.columns):
    # print(j);
    mean_list.append(df1[j].mean());
    std_list.append(df1[j].std());
print(f"Mean of Each Column:- {mean_list}");
print("**********************")
print(f"Standard Deviation of Column-2:- {std_list[1]}");

Mean of Each Column:- [0.464631047013537, 0.5490422157511219, 0.43106453823519586, 0.6020231258935308, 0.5422389345613344, 0.3063182947187595]
**********************
Standard Deviation of Column-2:- 0.34938576859059767

In [24]:
#Question 5 Replace the data present in the second row of column, 'column_2' by a string variable then find the mean of column, column_2.
df1['column_2'].loc[2] = 'new_val';
print("******* updated Data *****");
print(df1);
try:
    val = df1['column_2'].mean();
    print(val);
except:
    print("********** Error Occured, Reason mentioned below ******");
    print("The error is generated because one of the elements in the column is non numeric(string) and while finding the mean the program is trying to addd that string numeric value of the column, which is not possible!!");

******* updated Data *****
   column_1  column_2  column_3  column_4  column_5  column_6
1  0.494939  0.895527  0.001509  0.755818  0.462643  0.341777
2  0.426606   new_val  0.425418  0.663069  0.915990  0.241651
3  0.178090  0.945772  0.832288  0.939126  0.820923  0.576962
4  0.576781  0.199474  0.081989  0.194964  0.242000  0.124616
5  0.624695  0.104026  0.996429  0.662424  0.567148  0.380538
6  0.486676    0.4994  0.248753  0.396738  0.244729  0.172366
********** Error Occured, Reason mentioned below ******
The error is generated because one of the elements in the column is non numeric(string) and while finding the mean the program is trying to addd that string numeric value of the column, which is not possible!!

In [25]:
#Question 6 What do you understand about the windows function in pandas and list the types of windows functions?
ans = """ 
In pandas, a window function is a way to apply a calculation to a specific subset of data, called a "window" that moves through the dataset. This allows for calculations to be made on a rolling or expanding basis, dependeing on the type of window function used.

The types of window functions available in pandas are:-
1. Rolling functions:- These functions compute a rolling statistic over a defined window size. Examples include rolling mean, rolling sum, rolling standard deviation, etc.
2. Expanding Functions:- These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include expanding sum, expanding mean, etc.
3. Exponentially weighted functions: These functios compute a rolling statistic with weights that decay exponentially as the distance from the current point increases. Examples include exponentially weighted mean, exponentially weighted standard deviation, etc.
4. Cumulative functions:- These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include cumsum, cummax, cummin, etc.
5. Aggregating functions:-  These functions perform a groupby-style operation on a rolling or expanding window. Examples include groupby.mean(), groupby.sum(), etc.
"""

In [29]:
#Question 7 Write a code to print only the current month and year at the time of answering this questions.
from datetime import date
today = date.today();
print("Date:- " , today);
res = str(today).split("-");
year = int(res[0]);
month = int(res[1]);
months = ['January' , 'February' , 'March' , 'April' , 'May' , 'June' , 'July' , 'August' , 'September' , 'October' , 'November' , 'December'];
print("Month of current date:- " , months[month]);
print("Year of current date:- " , year);

Date:-  2023-03-17
Month of current date:-  April
Year of current date:-  2023

In [1]:
#Question 8 Write a python program that takes in two dates as input and calculates the difference between them in days, hours and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.
from datetime import datetime;
date1 = input("Enter date in the format YYYY-MM-DD");
date2 = input("Enter date in the format YYYY-MM-DD");
# date1 = '2023-12-22'
# First Date Entered by You:  2004-05-17
# Second Date entered by you:  2002-04-16
date_time1 = datetime.strptime(date1 , '%Y-%m-%d').date();
date_time2 = datetime.strptime(date2 , '%Y-%m-%d').date();
print("First Date Entered by You: " , date_time1);
print("Second Date entered by you: " ,date_time2);
diff = date_time1 - date_time2;
print(diff);
days= diff.days;
seconds = days*24*3600 + diff.seconds;
minutes = days*24*60 + diff.seconds/60;
hours = days*24;
print("Hours:- " , hours);
print("Minutes:- " , minutes);
print("Seconds:- " , seconds);
print("Days:- " , days);

Enter date in the format YYYY-MM-DD 2004-05-17
Enter date in the format YYYY-MM-DD 2002-04-16

First Date Entered by You:  2004-05-17
Second Date entered by you:  2002-04-16
762 days, 0:00:00
Hours:-  18288
Minutes:-  1097280.0
Seconds:-  65836800
Days:-  762

In [24]:
# Question 9 Write a python program that reads a csv file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data?
import pandas as pd;
filepath = input("Enter the filepath: ");
column = input('Enter the column name: ');
order = input('Enter category order: ');
print("******************* Initial Data:- **************");

df = pd.read_csv(filepath , index_col = 0);
print(df.head(7).to_string());
df[column].astype('category');
if order == 'ascending':
    df = df.sort_values(by=column , ascending = True);
elif order == 'descending':
    df = df.sort_values(by = column , ascending = True);
print("******************* Updated data:- ***************");
df.head(7)

Enter the filepath:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Enter the column name:  Pclass
Enter category order:  ascending

******************* Initial Data:- **************
             Survived  Pclass                                                 Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                   0       3                              Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S
2                   1       1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1      0          PC 17599  71.2833   C85        C
3                   1       3                               Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
4                   1       1         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
5                   0       3                             Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S
6                   0       3                                     Moran, Mr. James    male   NaN      0      0            330877   8.4583   NaN        Q
7                   0       1                              McCarthy, Mr. Timothy J    male  54.0      0      0             17463  51.8625   E46        S
******************* Updated data:- ***************

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S
311,1,1,"Hays, Miss. Margaret Bechstein",female,24.00,0,0,11767,83.1583,C54,C
310,1,1,"Francatelli, Miss. Laura Mabel",female,30.00,0,0,PC 17485,56.9292,E36,C
308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.00,1,0,PC 17758,108.9000,C65,C
307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
711,1,1,"Mayne, Mlle. Berthe Antonine (""Mrs de Villiers"")",female,24.00,0,0,PC 17482,49.5042,C90,C

In [2]:
# Question 10 Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.
filepath = input('Enter filepath: ')

df = pd.read_csv(filepath)
df['Date'] = pd.to_datetime(df['Date'])
grouped = df.groupby(['Product', 'Date']).sum()
pivot = grouped.unstack(level=0)
pivot.plot(kind='bar', stacked=True)

In [12]:
# Question no. 11.
import pandas as pd;
filepath = input('Enter Filepath: ')

df = pd.read_csv(filepath)

# print(df['Student_ID']);
mean = df['Test_Score'].mean()
median = df['Test_Score'].median()
mode = df['Test_Score'].mode()

print("+----------+----------+")
print("Statistic | Value")
print(f"Mean:    {mean}")
print(f"Median:    {median}")
print(f"Mode:    {mode}")
print("+----------+----------+")

Enter Filepath:  ./csvFiles/student_data.csv

+----------+----------+
Statistic | Value
Mean:    83.5
Median:    85.0
Mode:    0    85
Name: Test_Score, dtype: int64
+----------+----------+